
@{
    ViewBag.Title = "Index";
}

<h2></h2>

<input type="button" id="1" class="btn-default btn-success" onclick="checkclass()" style="width:50px; height:50px"/> 
<input type="button" id="2" class="btn-default" style="width:50px; height:50px" /> 
<input type="button" id="3" class="btn-default" style="width:50px; height:50px"/> <br />
<input type="button" id="4" class="btn-default" style="width:50px; height:50px"/> 
<input type="button" id="5" class="btn-default" style="width:50px; height:50px" /> 
<input type="button" id="6" class="btn-default" style="width:50px; height:50px"/><br />
<input type="button" id="7" class="btn-default" style="width:50px; height:50px"/> 
<input type="button" id="8" class="btn-default" style="width:50px; height:50px" /> 
<input type="button" id="9" class="btn-default" style="width:50px; height:50px"/><br />

<script>
    //$(document).ready(function () {
    //    $("#1").click(function () {
    //        $(this).addClass("btn-success")});
    //})
    function addClassByClick() {
        alert("winner").hasClass("btn-success").$("#2");
        $("#1").addClass("btn-success")
    }

    function checkclass() {
        if ($("#1").hasClass('btn-success')) {
            alert("cannot select this")
        }
    }
</script>

